![png](Graphs-ERD/sakila-db-model.png)

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

# dialect+driver://username:password@host:port/database

# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:Neiu1234@localhost/sakila"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [5]:
q = """
SELECT *
FROM customer
LIMIT 1;

SELECT *
FROM address
LIMIT 1
"""
pd.read_sql(q, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT *\nFROM address\nLIMIT 1' at line 5")
[SQL:
SELECT *
FROM customer
LIMIT 1;

SELECT *
FROM address
LIMIT 1
]
(Background on this error at: https://sqlalche.me/e/14/f405)

# Queries

## 1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [3]:
# first_name, last_name, email, address_id 
q = """
SELECT *
FROM customer;
LIMIT 1
"""
pd.read_sql(q, engine)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 03:57:20
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 03:57:20
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 03:57:20
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 03:57:20
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 03:57:20
...,...,...,...,...,...,...,...,...,...
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 03:57:20
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37,2006-02-15 03:57:20
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37,2006-02-15 03:57:20
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 03:57:20
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 03:57:20

## 2. What query would you run to get all comedy films? Note that the genre is called the category in this schema.  Your query should return film title, description, release year, rating, and special features.

In [ ]:
q = """SELECT * FROM countries;"""
pd.read_sql(q, engine)

## 3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [ ]:
q = """SELECT * FROM countries;"""
pd.read_sql(q, engine)

## 4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [ ]:
q = """SELECT * FROM countries;"""
pd.read_sql(q, engine)

## 5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [ ]:
q = """SELECT * FROM countries;"""
pd.read_sql(q, engine)

## 6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [ ]:
q = """SELECT * FROM countries;"""
pd.read_sql(q, engine)